#tree-container {
    background: red;
    margin: 20px;
}
.tree-node {
    display: block;
    width: 160px;
    height: 60px;
    background: white;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
}

.tree-node h1 {
    font-size: 15px;
}

.tree-node h2 {
    font-size: 12px;
}

.unit-top {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px;
    align-content: center;
    background: #eeeeff;
}

.unit-bottom {
    background: #ddddff;
}
