@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
    font-size: 1vw;
    --colour-light-grey: #f9f9f9;
    --infobox-width: 380px;
    --box-padding: 6px;
    --size-default: 300px;
    --size-large: 500px;
    --transition-short: 150ms;
    --colour-border: #999999;
}

.caption {
    text-align: center;
    margin: 0 0;
    font-size: 15px;
    line-height: 18px;
}

b {
    font-family: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    background: var(--colour-light-grey);
}

body {
    overflow-x: hidden;
}

a {
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

h4 {
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
}

h5 {
    font-family: "Libre Baskerville", serif;
    font-size: 18px;
    font-weight: 700;
}

p {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    text-justify: auto;
    margin: 15px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

sup {
    line-height: 0;
}

.reference {
    font-size: 14px;
    line-height: 24px;
}

.page-title {
    font-size: 40px;
    line-height: 40px;
}

.main-body {
    margin-top: 50px;
    height: fit-content;
}

.main-body-split {
    display: grid;
    grid-template-columns: 1fr auto;
}

.somerled-pages-logo {
    font-size: 15px;
    line-height: 20px;
}

.header .somerled-pages-logo {
    margin-top: 12px;
}

.logo-somerled {
    font-family: "Libre Baskerville", serif;
}

.logo-pages {
    font-family: monospace;
    font-weight: 700;
}

.container {
    width: calc(100% - 100px);
    margin: auto;
}

.header {
    background: white;
    padding: 40px 0 10px 0;
}

.page-subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-top: 12px;
}

.navbar {
    position: sticky;
    top: -1px;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid var(--colour-border);
    background: white;
}

.navbar-items {
    display: grid;
    width: 100%;
    margin: auto;
}

.navbar-item {
    background: white;
    line-height: 46px;
    color: black;
    transition: var(--transition-short) color;
    transition: var(--transition-short) background;
}

.navbar-item:hover {
    background: black;
    color: white;
}

.gallery {
    overflow: hidden;
    margin: 30px 0;
    height: 400px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0));
}

.gallery-arrow-container {
    height: 400px;
    background: #aaaaaa;
    border: none;
    background: none;
}

.gallery-image {
    display: block;
    height: 400px;
    width: auto;
    margin: auto;
}

.box {
    display: block;
    width: 100%;
    padding: var(--box-padding);
    background: white;
    border: 2px solid var(--colour-border);
    margin-top: 40px;
    box-shadow: 8px 8px 8px #dddddd, -8px 8px 8px #dddddd, -8px -8px 8px #dddddd, 8px -8px 8px #dddddd;
}

.box .grid {
    margin-top: 1rem;
}

.box .grid p {
    font-size: 16px;
    text-align: left;
    margin: 0;
    line-height: 22px;
}

.box h3 {
    font-weight: 500;
}

img {
    width: 100%;
}

.images-column {
    float: right;
    width: 25rem;
    margin-left: 50px;
}

.infobox {
    font-size: 22px;
    display: block;
    width: 100%;
    margin-top: 0;
}

.infobox img {
    width: 100%;
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
    scroll-padding: -100px;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.default {
    width: var(--size-default);
}

.large {
    width: var(--size-large);
}

.right-box {
    float: right;
    clear: right;
    margin: 10px 0 10px 40px;
}

.left-box {
    float: left;
    margin: 10px 40px 10px 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: 700;
}
