.header {
    display: block;
    background: white;
    width: 100%;
    height: 40px;
    padding: 10px 0;
}

.header-inner {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header-inner * {
    line-height: 40px;
}

.header input {
    text-indent: 10px;
}

.homepage-top {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 4rem;
    margin: 3rem auto;
}

#header-title {
    text-align: center;
}
